
/* ******************************************************** */
.default_tableClass {
  border-style:       solid;
  border-width:       0px;
  border-color:       #c0d4fE;
  outline: 0px;
  padding: 10px;
}

.default_theadClass {
  background-color:   #ddffdd;
  border-style:       solid;
  border-width:       3px;
  border-color:       #55ff55;
  outline: 1px;
}

.default_tbodyClass {
  background-color:   #ddddff;
  border-style:       solid;
  border-width:       3px;
  border-color:       #5555ff;
  outline: 1px;
}

.default_trOddClass {
  background-color:   #F0F8FF;
  border-style:       solid;
  border-width:       3px;
  border-color:       #ff55ff;
  outline: 1px;
}

.default_trEvenClass {
  background-color:   #c0d4fE;
  border-style:       solid;
  border-width:       3px;
  border-color:       #55ffff;
  outline: 1px;
}

.default_tdClass {
  border-style:       none;
  border-width:       0px;
  outline: 0px;
  padding: 0px;
  margin: 0px;
}

.default_uneditableRowClass {
  background-color:   inherit;
  border-width:       0;
  border:             none;
}

.default_editableRowClass {
  background-color:   #ffffff;
}

.default_sortBtnClass {
  background-color: #0d0d77;
  border-style: solid;
  border-color: #cdcdff;
  border-width: 1px;
  color: #cdcdff;
  text-align: center;
  font-size: 16px;
  width: 100%;
}

.default_pageCtlRefreshBtnClass {
  background-color: #0d0d77;
  border-style: solid;
  border-color: #cdcdff;
  border-width: 1px;
  color: #cdcdff;
  text-align: center;
  font-size: 16px;
  margin-right: 30px;
}

.default_pageCtlSaveBtnClass {
  background-color: #0d770d;
  border-style: solid;
  border-color: #cdcdff;
  border-width: 1px;
  color: #cdcdff;
  text-align: center;
  font-size: 16px;
  margin-right: 30px;
}

.default_pageCtlDeleteBtnClass {
  background-color: #770d0d;
  border-style: solid;
  border-color: #cdcdff;
  border-width: 1px;
  color: #cdcdff;
  text-align: center;
  font-size: 16px;
  margin-right: 30px;
}

.default_pageCtlDisabledBtnClass {
  background-color: #dedede;
  border-style: solid;
  border-color: #cdcdff;
  border-width: 1px;
  color: #777777;
  text-align: center;
  font-size: 16px;
  margin-right: 30px;
}

.default_changedRowClass {
  background-color:   #ff000044;
  border-width: 2px;
  border-color: ff000000;
}

